/* Universal Styles */
* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* Header and Banner Section Styles */
.header {
    background-image: url('../images/banner/banner2.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 809px;
    width: 100%;
}

.header-container {
    text-align: right;
    padding: 200px 150px 100px 700px;
}

.header-title {
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 30px;
}

.btn {
    margin-top: 40px;
    background-color: orangered;
    color: white;
    padding: 20px;
    border: 0;
    border-radius: 5px;
}