/* Universal Styles */
* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* Header and Banner Section Styles */
.header {
    background-image: url('../images/banner/banner2.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 809px;
    width: 100%;
}

.header-container {
    text-align: right;
    padding: 200px 150px 100px 700px;
}

.header-title {
    font-size: 65px;
    font-weight: 700 !important;
    margin-bottom: 30px;
}

.btn {
    margin-top: 40px;
    background-color: orangered;
    color: white;
    padding: 20px;
    border: 0;
    border-radius: 5px;
}

/* Main Section Styles */
.main {
    max-width: 725px;
}

/* Checklist Section Styles */

.checklist-container {
    display: flex;
    margin-top: 130px;
}

.checklist-image {
    padding: 0 0 0 100px;
}

.checklist-info {
    padding: 250px 170px;
}

.info-title {
    font-size: 40px;
    font-weight: 700 !important;
}

.info-description {
    margin: 30px 0px;
}

.check-list {
    list-style-type: none;
    padding: 0 0 0 0;
}

.check {
    margin-bottom: 7px;
}